.custom-card {
  background-color: black;
  color: #fff;
  display: flex;
  border-radius: 4px;
  max-width: 350px;
  cursor: pointer;
  z-index: 3;
  position: relative;
}

.custom-card:hover {
  background-color: #222222;
}

.card-body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}

.card-text {
  font-size: 14px;
}

.custom-img {
  width: 60px;
  height: 75px;
  border-radius: 4px;
  object-fit: cover;
}

.card-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
}

.custom-card:hover .card-icons {
  visibility: visible;
  opacity: 1;
}

.icon {
  margin-left: 10px;
}

.custom-card:hover .icon {
  color: #fff;
}

.icon + .icon {
  margin-left: 10px;
}
