.btn {
  border-radius: 20px;
  background: transparent;
  background-color: rgba(255, 255, 255, 0.1);
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.NavLink:hover {
  background-color: rgba(255, 255, 255, 0.3) !important;
  border-radius: 0.25rem;
}
