.playlist-btn {
  border-radius: 20px;
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.2s ease-in-out;
}

.sidebar {
  position: sticky;
  top: 0;
  z-index: 11;
  height: 100vh;
}

.playlist-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.NavLink {
  display: block;
  width: 100%;
  color: #fff;
}

.NavLink:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.25rem;
}

.background {
  min-height: 100vh;
  background: url("https://img.freepik.com/free-vector/gradient-black-background-with-wavy-lines_23-2149151738.jpg?size=626&ext=jpg&ga=GA1.1.1395880969.1709337600&semt=ais")
    no-repeat center center/cover;
  background-attachment: fixed;
}

.header {
  background-color: black;
  z-index: 10;
  position: fixed;
}

.layer {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.has-search {
  position: relative;
}

.has-search .form-control {
  padding-left: 2.375rem;
  position: relative;
}

.has-search .form-control-feedback {
  position: absolute;
  display: block;
  z-index: 2;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.category-btn {
  border-radius: 10px;
  border: none;
  cursor: e-resize;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.2s ease-in-out;
  z-index: 2;
  position: relative;
}

.category-btn:hover {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.main-content {
  padding-left: 240px;
}

@media (max-width: 768px) {
  .main-content {
    padding-left: 0;
  }
}

.playlist-nav-link .playlist-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playlist-nav-link .trash-icon {
  visibility: hidden;
  opacity: 0;
}

.playlist-nav-link:hover .trash-icon {
  visibility: visible;
  opacity: 1;
}

.playlist-item {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.playlist-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.playlist-item .playback-button {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s ease-in-out;
}

.playlist-item:hover .playback-button {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.transparent-header {
  background-color: rgba(255, 255, 255, 0);
}

.dropdown-item {
  margin-bottom: 0.5rem;
  color: white;
}

ul.dropdown-menu .dropdown-item:hover,
ul.dropdown-menu .dropdown-item:focus {
  background-color: rgba(255, 255, 255, 0.3) !important;
}
