.container {
  position: relative;
  z-index: 2;
}

.footer-player {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #333;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.wrapper {
  .row {
    gap: 2rem;
  }
}

.iconcontainer: {
  height: 70px;
  aspectratio: 1;
  borderwidth: 2px;
  bordercolor: gray;
  borderradius: 7px;
  display: flex;
  alignitems: center;
  justifycontent: center;
}

.btntitle: {
  color: rgba(255, 255, 255, 0.1);
  margintop: 5px;
}

.btn {
  position: relative;
  z-index: 100;
}

.file {
  position: relative;
  z-index: 100;
}
