.iconcontainer {
  height: 70px;
  aspect-ratio: 1;
  border-width: 2px;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
}

.btntitle {
  color: rgba(255, 255, 255, 0.1);
  margin-top: 5px;
}

.btn {
  position: relative;
  z-index: 12;
}

.file {
  position: relative;
  z-index: 10;
}
