.wrapper {
  .row {
    gap: 2rem;
  }
}

.iconcontainer: {
  height: 70px;
  aspectratio: 1;
  borderwidth: 2px;
  borderradius: 7px;
  cursor: pointer;
  display: flex;
  alignitems: center;
  justifycontent: center;
  background-color: blue;
}

.btntitle: {
  color: rgba(255, 255, 255, 0.1);
  margintop: 5px;
}

.btn {
  position: relative;
  z-index: 12;
}

.file {
  position: relative;
  z-index: 10;
}
