.login-btn {
  border: none;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  border-radius: 20px;
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.1);
}

.login-btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.container {
  .row {
    gap: 2rem;
  }
}

.link a {
  position: relative;
  z-index: 2;
  color: #fcf5e5;
}

.link a:hover {
  color: #d3d3d3;
}

.otp-input {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  border-radius: 20px;
  border: 1px solid #ced4da;
  text-align: center;

  &:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    outline: none;
  }
}

.errorMsg {
  color: red;
  font-size: 12px;
  text-align: left;
}
