.playlist-container {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

.playlist-table {
  width: 100%;
  border-collapse: collapse;
}

.playlist-table tr {
  background-color: #202020;
  color: #fff;
  border-bottom: 1px solid #333;
  cursor: pointer !important;
}

.playlist-table tr:hover {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.playlist-table .icon-cell {
  padding: 10px;
  white-space: nowrap;
}

.icon {
  cursor: pointer;
  margin-right: 5px;
  font-size: 24px;
}

.icon:last-child {
  margin-right: 0;
}

.playlist-table td {
  padding: 8px 10px;
}

.playlist-table td.playback-button-container {
  padding: 8px 5px;
}

.album-cover {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}
