.custom-card {
  background-color: #202020;
  color: #fff;
  display: flex;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  z-index: 3;
  position: relative;
}

.custom-card:hover {
  background-color: rgb(255, 255, 255, 0.3);
}

.bg {
  background-color: black;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}

.card-text {
  font-size: 14px;
}

.custom-img {
  width: 60px;
  height: 75px;
  border-radius: 4px;
  object-fit: cover;
}

.card-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
}

.icon + .icon {
  margin-left: 20px;
}

.animated-stroke {
  width: 4px;
  background-color: #fff;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-name: dance;
}

.stroke-1 {
  animation-delay: 0s;
  padding: 2px;
}

.stroke-2 {
  animation-delay: 0.1s;
  margin-left: 2px;
}

.stroke-3 {
  margin-left: 2px;
  animation-delay: 0.2s;
}

@keyframes dance {
  0%,
  100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(2);
  }
}

.audio-player-card {
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: black;
}

.controls-container,
.additional-controls-container {
  display: flex;
  align-items: center;
}

.album-art-container img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.track-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.title {
  margin: 0;
  color: white;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  display: block;
}

.title-header {
  margin: 0;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.artist {
  margin: 0;
  color: gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  display: block;
}

.slider-container {
  width: 100%;
  padding: 0 16px;
}

.slider-bar {
  height: 4px;
  background: #aaa;
}

.react-slider__thumb {
  background: red !important;
  height: 10px !important;
  width: 10px !important;
  border-radius: 50% !important;
  cursor: grab !important;
  outline: none !important;
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  z-index: 2 !important;
}

.react-slider__track-0,
.react-slider-track.react-slider-track-0 {
  background: red !important;
  height: 2px !important;
}

.react-slider__track-1,
.react-slider-track.react-slider-track-1 {
  background: #ddd !important;
  height: 2px !important;
}

.time-info {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  color: #fff;
}

.current-time,
.duration {
  padding: 0 16px;
}

.audio-player-card {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1100;
}

.modal-custom .modal-content {
  border-radius: 10px;
  z-index: 10;
}

.modal-backdrop.show {
  opacity: 0.5 !important;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.artist-link {
  color: rgb(255, 255, 255, 0.7);
  padding-top: 0;
  text-decoration: none;
}

.artist-link:hover {
  text-decoration: underline;
  color: white;
}

.playlist-table {
  width: 100%;
  border-collapse: collapse;
  cursor: pointer;
}

.playlist-table tr {
  background-color: #202020;
  color: #fff;
  border-bottom: 1px solid #333;
  position: relative;
  z-index: 13;
}

.playlist-table tr:hover td {
  background-color: rgb(255, 255, 255, 0.3);
  cursor: pointer;
}

.album-cover {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}

.btn.player-controller:hover,
.btn.player-controller-ignore:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.notification {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1300;
  padding: 10px 20px;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  animation: slideDown 0.3s ease-out forwards;
}

.notification.success {
  background: #4caf50;
}

.notification.error {
  background: #f44336;
}

@keyframes slideDown {
  from {
    top: -50px;
  }
  to {
    top: 0;
  }
}

.option-modal {
  position: fixed;
  bottom: 120px;
  right: 20px;
  z-index: 3;
  background-color: #202020;
  color: white;
  border: 1px solid #383838;
  width: 250px;
  padding: 8px 0;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.option-modal-item {
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.option-modal-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.save-button.active {
  background-color: rgba(255, 255, 255, 0.2);
}
